@import './variable.scss';

body {
  font-size: 14px;
  // background-image: url('./background-texture.jpg');
}
.btn-primary, .btn-primary:active, .btn-primary:focus {
  background: $color-primary;
  border-color: $color-primary;
}
.btn-primary:hover {
  background: $color-primary-hover;
  border-color: $color-primary-hover;
}
.logo {
  max-width: 80px;
}
.product td {
  cursor: pointer;
}
.nav a {
  font-weight: bold;
}
.header a {
  text-decoration: none;
}
.nav a:hover {
  color: $color-black;
}
a {
  color: #333;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.header-container {
  padding-top: 85px;
}
.header {
  min-height: 80px;
  background: white;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-black;
  box-shadow: 0 4px 6px -2px $color-grey;
}
a:hover {
  text-decoration: none;
  color: $color-black;
}
.dashboard-view {
  min-height: 100px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}
.search-field {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-black;
}
.search-field:focus {
  outline: none;
}
span, label {
  font-size: 14px;
}
.login-link {
  display: block;
}
.fa {
  cursor: pointer;
}

.question-form .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  color: black;
  padding: 10px;
}

.question-form .nav-pills > li > a.active {
  background: #868788;
  color: white;

}

.question-form .tab-content {
  margin-top: 20px;
}

.required {
  color: red;
}
.error {
  color: red;
}